@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

// roboto
// font size 16px
// weights: 400, 700

body {
	font-size: 1.6rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
    line-height: 150%;
    letter-spacing: 0;
}

@mixin font-heading() {
	font-size: 5.6rem;
	line-height: 100%;
	letter-spacing: 0;
}

@mixin font-small() {
    font-size: 1.2rem;
	font-weight: 700;
}


